<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="wsCodenSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="wsCodenSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://api.metricamovil.com/wsCoden/wsCoden.asmx"
                binding="basicHttpBinding" bindingConfiguration="wsCodenSoap"
                contract="wsCoden.wsCodenSoap" name="wsCodenSoap" />
        </client>
    </system.serviceModel>
</configuration>
